#wrap {
	padding: 10px;
	width: 1024px;
	margin: 0 auto;
}

#header {
	height: 80px;
	padding: 3px;
	margin: 10px;
	//background-color: #20A8E7;
}
#header a {
	color: black;
	text-decoration: none;
}
#header #menu, #search {
	float: right;
	margin-left: 35px;
}
#header #logo {
	float: left;
	margin-right: 10px;
}
#header #menu {
	margin-top: 8px;
}
#header #search {
	margin-top: 7px;
}

#header #logo img {
	width: 50px;
	height: 50px;
}

#header #menu a {
	font-size: 23px;
	margin: 10px;
	padding: 5px;
}

#header #search .text {
	height: 25px;
	width: 270px;
}
#header #search .done {
	margin-left: 8px;
	height: 30px;
	width: 80px;
}
#header #search .user_center {
	float: right;
	margin-top: 10px;
	color: black;
}
#header #search .user_center a {
	color: black;
	text-decoration: none;
}

.text-overflow {
	display: block;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#header #search #user_login2 .text {
	width: 130px;
	height: 15px;
}
#header #search #user_login2 .text, .button {
	margin-right: 5px;
}
#header #search #user_login2 .button {
	width: 40px;
}
