#wrap {
	padding: 10px;
	width: 1024px;
	margin: 0 auto;
}

#header #logo {
	float: left;
	margin-right: 10px;
}
#header #logo img {
	width: 50px;
	height: 50px;
}
#header .form {
	margin-left: 60px;
	width: 466px;
	position: relative;
	top: 10px;
	height: 30px;
	border: 3px solid #B2EEDB;
}
#header #search_text {
	width: 370px; 
	height: 25px;
	font-size: 18px;
	float: left;
	border: none;
	padding: 2px;
}
#header #search_done {
	width: 92px;
	height: 32px;
	float: left;
	font-weight: 900;
	font-size: 18px;
	border: none;
	background: #DFF1F3;
}

#header a {
	color: #000;
	text-decoration: none;
}

#menu {
	margin: 30px 0 15px 0;
}
#menu a {
	color: #000;
	text-decoration: none;
}
#menu span {
	margin-right: 10px;
}
