
/** shop product **/
#shop a {
	color: #000;
	text-decoration: none;
}

#shop .top_menu, .description, .form, .products {
	margin-bottom: 10px;
}
#shop .top_menu .button {
	width: 100px;
}

#shop .description {
	padding: 5px;
}
#shop .description td {
	width: 50%;
	font-size: 19px;
	padding: 5px;
}
#shop .description img {
	width: 490px;
	height: 180px;
}
#shop .description .name {
	font-size: 25px;
	text-align: center;
	font-weight: 900;
}
#shop .description .des {
	font-size: 20px;
	text-align: center;
}

#shop .products {
	padding: 1px;
}
#shop .product {
	float: left;
	width: 122px;
	height: 156px;
	padding: 7px;
	margin: 0 10px 20px 0;
	cursor: pointer;
	background-color: #E3EEEB;
}
#shop .product .picture img {
	width: 122px;
	height: 124px;
}
#shop .product .name {
	font-size: 13px;
	font-weight: 900;
}
#shop .product .des {
	font-size: 13px;
}
#shop .product a {
	font-size: 12px;
	position: relative;
	float: right;
}



/** shop form **/
#shop .form .top_menu, .description, p {
	margin-bottom: 10px;
}
#shop .form .text{
	width: 300px;
	height: 20px;
	border: 1px solid black;
}
#shop .form .done {
	width: 100px;
}

#shop .border {
	border: 1px solid #86B1B1;
}
#shop .description .edit {
	position: relative;
	bottom: 10px;
	right: 10px;
}

/** shop page bar **/
#shop .page_bar {
	margin-top: 20px;
}
#shop .page_bar a {
	padding: 5px;
	margin: 5px;
}
#shop .page_focus {
	background-color: #86B1B1;
}

