#search
	#logo
		img src="/_assets/info/images/logo.jpg"
	#body
		form action="/info/result" method="get"
			div.form
				input type="text" name="sc" id="search_text"
				input type="submit" value="#{L[:search]}" id="search_done"
	#link
		- @home_menu.each do | name, link |
			span : a href="#{link}" = L[name]


css:
	#search {
		margin: 0 auto;
		width: 800px;
		padding-top: 160px;
		text-align: center;
	}
	#logo, #body, #link {
		padding: 10px;
		font-size: 18px;
	}
	#body .form {
		width: 466px;
		height: 30px;
		border: 3px solid #B2EEDB;
		margin: 0 auto;
		text-align: center;
	}

	#search_text {
		width: 370px; 
		height: 25px;
		font-size: 18px;
		float: left;
		border: none;
		padding: 2px;
	}
	#search_done {
		width: 92px;
		height: 32px;
		float: left;
		font-weight: 900;
		font-size: 18px;
		border: none;
		background: #DFF1F3;
	}
	#link a {
		margin: 6px;
		text-decoration: none;
		color: black;
	}
