#shop
	- user = _kv(:_user, :uid, :name)
	- unless @shop.empty?
		.description
			table
				tr
					td
						img src="#{_file(@shop[:picture])}" 
					td
						p.name = @shop[:name]
						p.des = @shop[:description]

			- if _user[:uid] > 0 and params[:uid] == _user[:uid]
				p : a.right.hide.edit href='#{_url("/info/user/#{_user[:uid]}")}' = L[:edit]

	.products
		- unless @res.empty?
			- @res.each do | row |
				.product
					.picture : img src="#{_file(row[:picture])}" 
					.name.text-overflow
						= row[:name]
					.des.text-overflow
						= row[:description]
		- else
			p = L[:'No results found']

		.clear

		- if @page_count > 1
			p.page_bar
				- for i in 1..@page_count
					- page_focus = i == @page_curr ? "page_focus" : ""
					a class="#{page_focus}" href="#{_url2(request.path, :page_curr => i)}" = i

script src="#{_public('/js/plugins/showbox.js')}" type="text/javascript"
link rel='stylesheet' type='text/css' href='#{_assets("/info/css/shop.css")}'

javascript:

	$('#shop .product').hover(function(){
		$(this).css('background', '#86B1B1');
		$(this).find('.hide').show();
	}, function(){
		$(this).css('background', '');
		$(this).find('.hide').hide();
	});
	$('#shop .description').hover(function(){
		$(this).find('.hide').show();
	}, function(){
		$(this).find('.hide').hide();
	});

	$('#shop .product').click(function(){
		$("#wrap").before("<div class='show_box'><div class='show_box_bg'/><div class='show_box_panel'>" + $(this).find('.picture').html() + "</div></div>");

		$('.show_box').css('position', 'absolute');
		$('.show_box').css('z-index', 1);

		$('.show_box_bg').css('padding', "10px");
		$('.show_box_bg').css('width', $("body").width());
		$('.show_box_bg').css('height', $("body").height());
		$('.show_box_bg').css('background-color', '#E3EEEB');
		$('.show_box_bg').css('filter', 'alpha(opacity=50)');
		$('.show_box_bg').css('-moz-opacity', '0.5');
		$('.show_box_bg').css('opacity', '0.5');

		$('.show_box_panel').css('padding', '5px');
		$('.show_box_panel').css('background-color', 'white');
		$('.show_box_panel').css('position', 'absolute');
		$('.show_box_panel').css('margin', '0 auto');

		var top = ($("body").height() / 4) - ($(this).find('img').height() / 4);
		var left = ($("body").width() / 2) - ($(this).find('img').width() / 2);
		
		$('.show_box_panel').css('top', top);
		$('.show_box_panel').css('left', left);

		$(".show_box").click(function(){
			$(this).remove();
		})
	});


